.navigation-bar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    background-color: white;
}

.navigation-bar .btn {
    float: left;
    margin: auto;
    text-decoration: none;
    padding: 25px;
    border: 1px solid transparent;
    transition-duration: 0.3s;
}

.navigation-bar .btn:hover {
    border: 1px solid crimson;
    color: crimson;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
